<div class="form_wrapper">
  <div class="form_container">
    <form class="login-form" [formGroup]="loginform" (ngSubmit)="login()">
      <input
        type="email"
        placeholder="email"
        formControlName="email"
        class="input_field"
      />
      <input
        type="password"
        placeholder="{{ 'mot de passe' | translate }}"
        formControlName="password"
        class="input_field"
      />
      <input
        type="submit"
        value="{{ 'connexion' | translate }}"
        class="button"
        [disabled]="loginform.invalid"

      />
    </form>

    <p class="message">
      {{ "Non enregistré?" | translate }}
      <a [routerLink]="['/register']">{{ "Créer un compte?" | translate }}</a>
    </p>
  </div>
</div>
